* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: auto;
    background-color: #252525;
    color: #fff;
}

.form {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

p {
    color: red;
}
